.nav_box {
  display: flex;
  width: 100%;
  height: 60px;
  background: #3963cc;
  box-sizing: border-box;
  padding: 0 114px 3px 55px;
  margin-bottom: 20px;
  .arrow {
    display: inline-block;
    width: 23px;
    height: 40px;
    background-position: -15px -283px;
    margin-top: 10px;
    background: url(//jic.makepolo.net/img/wap_new/icon_m.png) no-repeat;
    background-size: 641px 432px;
  }
  .nav_list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 11%;
    .nav_item {
      color: #fff;
      font-size: 32px;
      line-height: 60px;
    }
    .nav_item.selected {
      border-bottom: 1px solid #fff;
      box-sizing: border-box;
      padding-bottom: 7px;
    }
  }
}