.head {
  width: 100%;
  box-sizing: border-box;
  padding: 30px 73px;
  .title {
    display: flex;
    justify-content: space-between;
    .left {
      font-size: 32px;
      font-weight: bold;
      .img {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-bottom: 8px;
      }
      .info {
        display: inline-block;
        margin-left: 22px;
        max-width: 512px;
        height: 40px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .right {
      display: inline-block;
      width: 35px;
      height: 32px;
      margin-top: 7px;
    }
  }
  .content {
    font-size: 26px;
    color: #666;
    margin-top: 32px;
    .img {
      margin-bottom: 10px;
      margin-left: 10px;
      display: inline-block;
      width: 148px;
      height: 26px;
      vertical-align: middle;
    }
  }
}

.corp_wrap {
  width: 100%;
  background: #fafafa;
  box-sizing: border-box;
  padding: 34px 27px 50px;
  .title {
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .img {
    margin: 10px auto;
  }
  .item {
    width: 100%;
    display: flex;
    margin-top: 10px;
    font-size: 30px;
    .left {
      min-width: 150px;
      color: #333;
      text-align: right;
    }
    .right {
      color: #666;
      text-align: left;
      margin-left: 10px;
    }
  }
}

.viewBtn {
  display: block;
  color: #3963cc;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 18px;
  margin-top: 10px;
}

.pro_item {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30.5px 15px 27.5px;
  border-bottom: 2px solid #eee;
  .left {
    width: 252px;
    height: 208px;
    position: relative;
    .img {
      width: 252px;
      height: 208px;
    }
  }
  .right {
    width: 440px;
    color: #666666;
    .title {
      font-size: 30px;
      width: 100%;
      min-height: 50px;
      color: #666;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      -webkit-box-orient: vertical;
    }
    .content {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-top: 10px;
      .price {
        color: #999999;
        font-size: 30px;
        padding-left: 10px;
      }
      .btn {
        position: absolute;
        right: 0;
        display: block;
        width: 200px;
        height: 45px;
        font-size: 30px;
        background: linear-gradient(#FDB156,#FC6121);
        color: #fff;
        text-align: center;
        line-height: 45px;
        border-radius: 23px;
      }
    }
  }
}

.pagin {
  display: flex;
  justify-content: center;
  margin: 32.5px 0;
  font-size: 30px;
  .prev {
    width: 120px;
    height: 50px;
    background: #F0F0F0;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: #666666;
    border-radius: 30px;
    margin-right: 20px;
  }
  .next {
    width: 120px;
    height: 50px;
    background: #F0F0F0;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: #666666;
    border-radius: 30px;
    margin-left: 20px;
  }
}