.item {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 32px;
  // font-size: 32rpx;
  margin: 14px auto;
  // padding-left: 55px;
  color: #333;
  background: #eee;  
}



.icon_l {
  vertical-align: middle;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

// .item:nth-child(1) {
// 	margin-top:3px;
// }
// .item:nth-child(1) .icon_l {
// 	width:29px;
// 	height:29px;
// 	background-position:-12px -12px;
// }
// .item:nth-child(2) .icon_l {
// 	width:3px;
// 	height:3px;
// 	background-position:-58px -11px;
// }
// .item:nth-child(3) .icon_l {
// 	width:3px;
// 	height:3px;
// 	background-position:-1.14px -11px;
// }
// .item:nth-child(4) .icon_l {
// 	width:3px;
// 	height:22px;
// 	background-position:-1.63px -19px;
// }
// .item:nth-child(5) .icon_l {
// 	width:3px;
// 	height:3px;
// 	background-position:-2.18px -11px;
// }
// .item:nth-child(6) .icon_l {
// 	width:3px;
// 	height:3px;
// 	background-position:-2.75px -11px;
// }
// .item:nth-child(7) .icon_l {
// 	width:3px;
// 	height:28px;
// 	background-position:-3.24px -13px;
// }
// .item:nth-child(8) .icon_l {
// 	width:3px;
// 	height:23px;
// 	background-position:-3.74px -19px;
// }
// .item:nth-child(9) .icon_l {
// 	width:3px;
// 	height:3px;
// 	background-position:-4.27px -11px;
// }
// .item:nth-child(10) .icon_l {
// 	width:3px;
// 	height:31px;
// 	background-position:-4.65px -11px;
// }
// .item:nth-child(11) .icon_l {
// 	width:3px;
// 	height:31px;
// 	background-position:-5.12px -11px;
// }
// .item:nth-child(12) .icon_l {
// 	width:28px;
// 	height:27px;
// 	background-position:-12px -7px;
// }
// .item:nth-child(13) .icon_l {
// 	width:3px;
// 	height:37px;
// 	background-position:-58px -58px;
// }
// .item:nth-child(14) .icon_l {
// 	width:3px;
// 	height:31px;
// 	background-position:-1.14px -66px;
// }
// .item:nth-child(15) .icon_l {
// 	width:3px;
// 	height:37px;
// 	background-position:-1.63px -58px;
// }
// .item:nth-child(16) .icon_l {
// 	width:3px;
// 	height:29px;
// 	background-position:-2.18px -66px;
// }
// .item:nth-child(17) .icon_l {
// 	width:29px;
// 	height:3px;
// 	background-position:-2.72px -66px;
// }
// .item:nth-child(18) .icon_l {
// 	width:3px;
// 	height:24px;
// 	background-position:-3.24px -7px;
// }
// .item:nth-child(19) .icon_l {
// 	width:3px;
// 	height:3px;
// 	background-position:-3.74px -67px;
// }
// .item:nth-child(20) .icon_l {
// 	width:3px;
// 	height:29px;
// 	background-position:-4.25px -68px;
// }
// .item:nth-child(21) .icon_l {
// 	width:3px;
// 	height:23px;
// 	background-position:-4.73px -74px;
// }