.box {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(225,225,225,0.9);
  opacity: 0;
  visibility: hidden;
  z-index: 999;

  .container {
    position: relative;
    width: 90%;
    padding: 70px 20px;
    margin: 100px auto;
    background: #FFF;
    border-radius: 23px;
    text-align: center;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    z-index: 90;
    .form {
      .input_list {
        margin: 20px 0;
        .input_item {
          margin-bottom: 20px;
          text-align: left;
          overflow: hidden;
          .item_name {
            height: 90px;
            line-height: 90px;
            color: #666;
            margin-right: 30px;
            font-size: 32px;
            float: left;

          }
        }
      }
      .foot {
        .allow {
          width: 20px;
          height: 20px;
          float: left;
          // margin-top: 5px;
          margin-bottom: 40px;
          margin-right: 20px;
          border: 1px solid #e0e0e0;
          background: #fff;
          border-radius: 6px;
          vertical-align: middle;
          box-sizing: border-box;
          display: block;
          position: relative;
        }
        .laber {
          float: left;
          text-indent: 0;
          text-align: left;
          margin-left: 10px;
          color: #5582c6;
          font-size: 28px;
        }
        .btn {
          display: block;
          width: 100%;
          height: 100px;
          margin-top: 300px;
          background: #3473c3;
          color: #fff;
          text-align: center;
          line-height: 100px;
          border: 0;
          font-size: 32px;
        }
        .more {
          color: red;
          text-decoration: underline;
          margin-top: 20px;
          display: block;
          font-size: 30px;
        }
      }
    }
  }
}

.box.show {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}

.input_wrap {
  width: 75%;
  float: left;
  .input {
    height: 90px;
    line-height: 80px;
    border: 1px solid #cacaca;
    width: 95%;
    display: inline-block;
    padding-left: 10px;
    font-size: 32px;
    margin-bottom: 10px;
  }
  .span {
    color: red;
    font-size: 24px;
  }
  .check_r {
    height: 90px;
    line-height: 80px;
    border: 1px solid #cacaca;
    border-right: 0;
    border-radius: 10px;
    width: 71%;
  }
  .getQrcode {
    .span {
      color: #fff;
    }
    background: #0a86ce;
    border-radius: 0 10px 10px 0;
    width: 29%;
    text-align: center;
    height: 94px;
    line-height: 94px;
    margin-left: -4px;
    position: relative;
    color: #fff;
  }
}

.fl {
  float: left;
}

.close {
  padding: 0;
  position: absolute;
  top: 10px;
  right: 70px;
  width: 80px;
  height: 60px;
  display: inline-block;
  color: transparent;
  color: gray;
  font-size: 30px;
}