.list_wd{
    width: 90%;
    position: fixed;
    margin-top: 3vh;
    left: 5%;
    // background-color: gold;
    border: 1px solid silver

}
.kw_i{
    width: 100%;
    margin-top: 10px;
    margin-left: 5%;
}